:root {
  --color-bg: #0e1217;
  --color-card-bg: #1c1f26;
  --color-card-border: #cccccc20;
  --color-text: #fff;
  --color-grey: #888;
  --color-green: #00ffaa;
  --color-green-opacity: #00ffaa50;
  --color-red: #db5682;
  --color-red-opacity: #db568250;
  --color-blue: #b25fff;
  --color-blue-opacity: #b25fff50;
  --color-yellow: #fdca20;
  --color-yellow-opacity: #fdca2050;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lilita One", sans-serif;

  --fs-base: 1rem;

  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  isolation: isolate;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blue-opacity);
  backdrop-filter: blur(8px);
  z-index: 1;
}

.overlay-content {
  position: relative;
  background-color: var(--color-bg);
  z-index: 2;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  position: relative;
  overflow: hidden;
}

#__nuxt {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 10px;
}
